body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header,
.footer {
  display: flex;
  align-items: center;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* Solution */
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  /* Solution */
  display: flex;
  flex-shrink: 0;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  padding: 0;
}

.content {
  display: flex;  
  height: 100vh;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 10px;
  width: 300px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  padding: 48px;
  gap: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}